<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marc.final_trab">
    <uses-permission android:name="android.permission.INTERNET" />


    <application android:name= ".MyApp" android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:label="@string/app_name"></activity>
        <activity android:name=".FoodsMenu" android:label="@string/app_name"></activity>
        <activity android:name=".AddBurger" android:label="@string/app_name"></activity>
        <activity android:name=".AddDrinks" android:label="@string/app_name"></activity>
        <activity android:name=".AddPizza" android:label="@string/app_name"></activity>
        <activity android:name=".BurgersActivity" android:label="@string/app_name"></activity>
        <activity android:name=".DrinksActivity" android:label="@string/app_name"></activity>
        <activity android:name=".BurgersClientActivity" android:label="@string/app_name"></activity>
        <activity android:name=".DrinksClientActivity" android:label="@string/app_name"></activity>
        <activity android:name=".PizzasActivity" android:label="@string/app_name"></activity>
        <activity android:name=".PizzasClientActivity" android:label="@string/app_name"></activity>
        <activity android:name=".TotalsActivity" android:label="@string/app_name"></activity>
        <activity android:name=".MenuPrincipal" android:label="@string/app_name"></activity>

    </application>

</manifest>